{% extends 'layout.html' %}
{% load static %}


{% block body %}
<style>
    body {
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
    }
    
    html {
      box-sizing: border-box;
    }
    
    *, *:before, *:after {
      box-sizing: inherit;
    }
    
    .column {
      float: left;
      width: 33.3%;
      margin-bottom: 16px;
      padding: 0 8px;
    }
    
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      margin: 8px;
    }
    
    .about-section {
      padding: 10px;
      text-align: center;
      background-image: linear-gradient(to right, #940e99, #5a087c, #0e069b, #0b0664 );
      color: white;
    }
    
    .container {
      padding: 0 16px;
    }
    
    .container::after, .row::after {
      content: "";
      clear: both;
      display: table;
    }
    
    .title {
      color: grey;
    }
    
    .button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
    }
    
    .button:hover {
      background-color: #555;
    }
    h2 {
      font-weight:bold; 
      font-size: 50px;
      background: -webkit-linear-gradient(#940e99, #5a087c, #0e069b, #0b0664 );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    h3 {
      font-size: 30px;
      background: -webkit-linear-gradient(#940e99, #5a087c, #0e069b, #0b0664 );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    @media screen and (max-width: 650px) {
      .column {
        width: 100%;
        display: block;
      }
    }
    </style>
  
    <div class="about-section">
        <h1>Biz Barada</h1>
        <p>Universte PC Okuvçylary</p>
        <p>Bu Wb Sitesi Türkmenistanly İldeşlermizin Bir-birlerine Kömek Edip Bilmeleri Üçin Tayınlandy</p>
      </div>
      
      <h2 style="text-align:center;">Bizin Takımımız</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="{% static 'resim/merdansurat.jpg' %}" alt="Jane" style="width:100%; height: 12  0px;">
            <div class="container">
              <h3 class="text-center"style="font-weight:bold">Agamerdan Babayew</h3>
              <p class="title">Fullstack</p>
              <p>Bu sitenin Yöneticisi ve Dinamik işlevlerinden sorumlu</p>
              <p>babayevmerdan20@gmail.com</p>
              <p><button class="button" style="color: white; background-image: linear-gradient(to right, #940e99, #5a087c, #0e069b, #0b0664 )" >Habarlaşmak</button></p>
            </div>
          </div>
        </div>
        
        <div class="column">
          <div class="card">
            <img src="{% static 'resim/suratayna.jpg' %}" alt="Mike" style="width:100%">
            <div class="container">
              <h3  class="text-center"style="font-weight:bold">Ayna Hemrayewa</h3>
              <p class="title">Frontend</p>
              <p>Bu sitenin tasarım işlerinden sorumlu                </p>
              <p>hemrayewa.ayna@gmail.com</p>
              <p><button class="button" style="color: white; background-image: linear-gradient(to right, #940e99, #5a087c, #0e069b, #0b0664 )" >Habarlaşmak</button></p>
            </div>
          </div>
        </div>
        
        <div class="column">
          <div class="card">
            <img src="{% static 'resim/sypasurat.jpg' %}" alt="John" style="width:100%">
            <div class="container">
              <h3 class="text-center" style="font-weight:bold";>Şypa Annamuhammedow</h3>
              <p class="title">Backend</p>
              <p>Bu sitenin dinamik kısmından sorumlu</p>
              <p>shypa.2019@gmail.com</p>
              <p><button class="button"  style="color: white; background-image: linear-gradient(to right, #940e99, #5a087c, #0e069b, #0b0664 )" >Habarlaşmak</button></p>
            </div>
          </div>
        </div>
      </div>
      
{% endblock  %}
