{% extends 'layout.html' %}
{% load static %}

{% block body %}

<div class="row">
    <div class="col-lg-8">
        <!-- Post content-->
        <article>
            <!-- Post header-->
            <header class="mb-4">
                <!-- Post title-->
                <h1 class="fw-bolder mb-1">{{hyzmat.title}}</h1>
                <!-- Post meta content-->
                <div class="text-muted fst-italic mb-2">{{hyzmat.tarih}}</div>
                <!-- Post categories-->
                <p><b>{{hyzmat.adSoyad}}</b></p>
            </header>
            <!-- Preview image figure-->
            {% if hyzmat.hizmet_img %}
            <figure class="mb-4"><img  class="img-fluid rounded card-img" src="/media/{{hyzmat.hizmet_img}}" alt="..." ></figure>
        
            {% endif %}

            
            <!-- Post content-->
            <section class="mb-5">
              <p class="fs-5 mb-4">{{hyzmat.content}}</p>
            </section>
        </article>
        <!-- Comments section-->
        
        <section class="mb-5">
            <div class="card bg-light">
                <div class="card-body">
                    <!-- Comment form-->
                    <form class="mb-4" method="post" action="{%url 'hizmet:yorum' hyzmat.id %}">
                        {% csrf_token %}
                        
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1"><h5>Yorumunuz</h5></label>
                            <textarea name="comment_content" class="form-control" rows="3" placehYorumunuzolder="Bu Hyzmat Barada Görşünüzü Yazyn"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Yorum Goş</button>
                    
                    </form>
                    
                       {% if comment %}
                          {% for yorum in comment %}
                     <!-- Single comment-->
                           <div class="d-flex">
                             <div class="flex-shrink-0"><img class="avatar" src="/media/{{yorum.comment_avatar}}" alt="..." /></div>
                               <div class="ms-3">
                                    <div class="fw-bold">{{yorum.comment_author}}</div>
                                       {{yorum.comment_content}}
                                    <div>
                                    <small class="text-muted fst-italic mb-2">{{yorum.comment_date}}</small>
                               </div>
                            
                                 <hr>
                             </div>
                    </div>
                    {% endfor %}
                    {% endif %}

                  
                </div>
                
            </div>
        </section>
    </div>
        
                
   
                    <!-- Comment with nested comments-->
                    
    <!-- Side widgets-->
    <div class="col-lg-4">
        <!-- Search widget-->
        <div class="card mb-4 ">
           
            <a href="#" class="btn btn-dark">Hyzmat Berene Yaz</a>
        </div>
        <div class="card mb-4 ">
          <form action="{%url 'hizmet:artikle_likes' hyzmat.id %}">
          {% csrf_token %}
          {% if hyzmat.like_status %}
           <button type="submit"name="blog_id"   class="heart_btn"><i class="fa-sharp fa-solid fa-heart"></i></button> 
           {% else %}
           <button type="submit"name="blog_id"   class="heart_btn_else"><i class="fa-sharp fa-solid fa-heart"></i></button> 
           {% endif %}
            <small>{{hyzmat.like}}</small>
          </form>
            
          
           
        </div>
        
        
    </div>
</div>


{% endblock body %}