{% extends 'layout.html' %}
{% load static %}
{% block body %}
{% load crispy_forms_tags %}
<style>
  h1 {
    font-weight:bold; 
    font-size: 50px;
    background: -webkit-linear-gradient(#940e99, #5a087c, #0e069b, #0b0664 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
</style>
<div class="container">
  <h1>Hyzmat Goş</h1>
<hr>
<a href="{% url 'hizmet:hizmetlerim' %}"><p>Önceki hyzmatlarym</p></a>
{% if request.user.is_authenticated %}

<form  method="post" enctype="multipart/form-data" class="hizmet">
  {% csrf_token %}
  {{ form.media }}
  <label for="fname"><b>Telefon Nomer</b></label>
  <input id="numb" type="number" placeholder="0555 555 5555" name="number" required>

  <label for="psw"><b> İş Başlıgı</b></label>
  <input type="text" placeholder="Okuw Çakylygy" name="title" required>

  <label for="uname"><b>Hyzmat Bahasy</b></label>
  <input type="text" placeholder="2500tl" name="price" required>

  <label for="psw"><b>Hyzmat Barada</b></label>
  <textarea cols='10' rows='10'placeholder="Yayınlamak isleyan hyzmatynyz barada açyklama yazyn" name="context"  required></textarea>
  
  <label for="filename"><b>Profil suratyny yükle</b></label>
  <input type="file" id="myFile" name="hizmetfile">
    
  <button type="submit">Yayynla</button>
  </form>
</div>
{% else %}
<div>
  <p>Hyzmat Goşup bilmeginiz üçün ulgama girmeginiz gerek. Ulgama girmek üçün bu <a href="{% url 'giris' %}">linke</a>  basypbilersiniz </p>
</div>
{% endif %}

<script src="{% static 'js/main.js' %}"></script>
{% endblock body  %}
</div>

