
{% extends 'layout.html' %}
{% load static %}

{% block body %}


<style>
  .slider-wrapper{
    position: relative;
  }
  .slider-wrapper .image-list{
    display: grid;
    gap: 18px;
    font-size: 0;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(10, 1fr);
  }
  .slider-wrapper .image-list::-webkit-scrollbar{
    display: none;
  }
  .slider-wrapper .image-list .image-item{
    width: 325px;
    height: 400px;
    object-fit: cover;
  }
  .slider-wrapper .slide-button{
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    color: #fff;
    border: none;
    outline: none;
    background: rgb(49, 49, 49)a7a;
    font-size: 2.2rem;
    cursor:pointer;
    border-radius: 50px;
    transform: translateY(-50%);
  }

  .slider-wrapper .slide-button:hover {
    background: #000000;
  }

  .slider-wrapper .slide-button#prev-slide{
    left: -10px;
  }
  .slider-wrapper .slide-button#next-slide{
    right: -10px;
  }

 .slider-wrapper .image-list .slide-title{
   display: grid;
   padding-left:10px;
   color: rgb(255,255,255);
   background-color: rgb(0, 0 ,0, 60%);
   position: relative;
   bottom: 90px;
 }
 
 .slider-wrapper .image-list .slide-title .slide-content{
   
   color: rgb(255,255,255);
   font-size: 16pt;
   margin: 0;
   padding: 0;
 }
 .slider-wrapper .image-list .slide-link:hover .image-item{
  -webkit-filter: blur(1px); /* Safari 6.0 - 9.0 */
  filter: blur(1px);
 }
 .slider-wrapper .image-list .slide-link:hover .slide-title{
  background-color: rgb(0, 0 ,0, 75%);
  box-shadow: 0px 20px  50px rgba(17, 17, 17, 0.986) inset;
 }
 

</style>
<br>

  <div class="slider-wrapper">
    <button id="prev-slide" class=" slide-button material-symbols-outlined">chevron_left</button>
    <div class="image-list">
      <a class="slide-link" href="#"><div>
        <img src="media/hizmet/okul.jpg" width="300px" height="300px" alt="Tirileeeeee" class="image-item"  >
           <div class="slide-title">
              <h1>Okuw Çakylygy</h1>
              <small class="slide-content">05.11.2023</small>
           </div>
    </div></a>
    <a class="slide-link" href="#"><div >
      <img src="media/hizmet/images.jfif" width="300px" height="300px" alt="Tirileeeeee" class="image-item"  >
         <div class="slide-title">
            <h1>Universte..</h1>
            <small class="slide-content">09.11.2023</small>
         </div>
  </div></a>
  <a class="slide-link" href="#"><div >
    <img src="media/hizmet/yazilim_nuZcbIf.jpg" width="300px" height="300px" alt="Tirileeeeee" class="image-item"  >
       <div class="slide-title">
          <h1>Kodlama Sapak</h1>
          <small class="slide-content">18.11.2023</small>
       </div>
</div></a>
<a class="slide-link" href="#"><div >
  <img src="media/hizmet/kimlik-1.jpg" width="300px" height="300px" alt="Tirileeeeee" class="image-item"  >
     <div class="slide-title">
        <h1>Kimlik ...</h1>
        <small class="slide-content">18.11.2023</small>
     </div>
</div></a>
<a class="slide-link" href="#"><div >
  <img src="media/hizmet/1_9RTsU6ziJWzrfDxistxzUw.jpg" width="300px" height="300px" alt="Tirileeeeee" class="image-item"  >
     <div class="slide-title">
        <h1>Pul Ugratma</h1>
        <small class="slide-content">22.11.2023</small>
     </div>
</div></a>
<a class="slide-link" href="#"><div >
  <img src="media/hizmet/indir.png" width="300px" height="300px" alt="Tirileeeeee" class="image-item"  >
     <div class="slide-title">
        <h1>Kimlik işlemleri</h1>
        <small class="slide-content">27.11.2023</small>
     </div>
</div></a>
<a class="slide-link" href="#"><div >
  <img src="media\hizmet\images.jpg" width="300px" height="300px" alt="Tirileeeeee" class="image-item"  >
     <div class="slide-title">
        <h1>viza İşleri</h1>
        <small class="slide-content">28.11.2023</small>
     </div>
</div></a>      
<a class="slide-link" href="#"><div >
  <img src="media\hizmet\24303266462420121951transfer.png" width="300px" height="300px" alt="Tirileeeeee" class="image-item"  >
     <div class="slide-title">
        <h1>Para Transveri</h1>
        <small class="slide-content">30.11.2023</small>
     </div>
</div></a>      
<a class="slide-link" href="#"><div >
  <img src="media\hizmet\indir_1.jfif" width="300px" height="300px" alt="Tirileeeeee" class="image-item"  >
     <div class="slide-title">
        <h1>Prigloşenya</h1>
        <small class="slide-content">01.12.2023</small>
     </div>
</div></a>      
<a class="slide-link" href="#"><div >
  <img src="media\hizmet\indir.jpg" width="300px" height="300px" alt="Tirileeeeee" class="image-item"  >
     <div class="slide-title">
        <h1>Uçar Bileti</h1>
        <small class="slide-content">7.12.2023</small>
     </div>
</div></a>       
      
    </div>
    <button id="next-slide" class=" slide-button material-symbols-outlined">chevron_right</button>
  </div>
    <div class="container">
       <div class="row" >
        <div class="col-9">
            <form class="example"  style="margin:auto;max-width:600px">
                <input class="mt-2" name="keyword" type="text"  placeholder="İsleyan Hyzmatlaryny Buradan Gözle...."  name="search">
                <button type="submit" class="mb-5"style="color: white; background-image: linear-gradient(to right, #940e99, #5a087c, #0e069b, #0b0664 )" ><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div class="col-3">
            <a href="{% url 'soru:soruSor' %}" class="btn btn-lg" style="color: white; background-image: linear-gradient(to right, #940e99, #5a087c, #0e069b, #0b0664 )" >Sorag-Jogap</a>
        </div>
    </div>
    <br>
    <div class="row" >
      <div class="col-md-12">
        <div class="card-mt-2 ">
            <div class="row" style=" background: #1111; ">
              <div class="col-md-12">
                <div class="container">
                  <div id="carouselExample" class="carousel slide">
                     <div class="carousel-inner">
                       <div class="carousel-item active">
                          <img class="card-img mx-auto" src="{% static 'resim/ynamlyhyz.jpg'%}"  alt="...">
                       </div>
                       <div class="carousel-item">
                          <img class="card-img" src="{% static 'resim/mezunnn.jpg'%}"  alt="...">
                       </div>
                       <div class="carousel-item">
                          <img class="card-img" src="{% static 'resim/el.jpg'%}"  alt="...">
                       </div>
                    </div>
                     <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
     {% if context  %}
 <div class="contain">
    <h1>Öne Çykanlar</h1>
     <div class="container-box">
       {% for text in context  %}
        <div class="box">
           <div class="image">
            <img src="{% static 'resim/hamburger.JPG' %}" alt="">
          </div>
          <div class="content">
            <h3>Blog Title Goes Here</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam magni sint  aspernatur debitis eligendi animi, voluptatum vitae voluptatibus! </p>
            <a href="" class="btn">Read More</a>
            <div class="icons">
               <span><i class="fas fa-calendar"></i>03.03.2023</span>
               <span><i class="fas fa-user"></i>By Admin</span>
            </div>
          </div>
        </div>
       {% endfor %}
     
     
     
      
  </div>  
     <div id="loadmore" >Load More</div>
  </div> 
    </div>     
      

 
<script>
    let loadbtn=document.querySelector('#loadmore');
    let curentitem=3;
    loadbtn.onclick= () =>{
      let boxes=[...document.querySelectorAll('.contain .container-box .box')];
      for(var i = curentitem; i < curentitem + 3; i++){
        boxes[i].style.display='inline-block';
      }
      curentitem+= 3;
    }
   
</script>



{% else %}
<p>Öne çykan Hyzmat Yok</p>
 
  {% endif %}

 

<script src="{% static 'js/indexSlide.js' %}"></script>
{% endblock body %}



