{% load static %}
<style>
  .profmenu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .profmenu a {
    
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .profmenu a:hover {
    background-color: #ddd;
  }
  
  .Profbtn:hover .profmenu {
    display: block;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-image: linear-gradient(to right, #940e99, #5a087c, #0e069b, #0b0664 )" >
  <a class="navbar-brand"style="margin-left:4%;" href="{% url 'index' %}"> <img class="resim" src="{% static 'resim/logoo.png' %}" alt="logo"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="cont" onclick="myFunction(this)">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
            </div> 

          </button>

  <div class="container">
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}" style="color: white; font-size: 120%;  font-weight:bold; margin-right:30px;">Baş_Sahypa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'hizmet:hizmetler' %}" style="color: white; font-size: 120%; font-weight:bold;  margin-right:30px;">Hyzmatlar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'about' %}" style="color: white; font-size: 120%; font-weight:bold;  margin-right:30px;">Biz_Barada</a>
        </li>
         
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'hizmet:hizmet_ekle' %}" style="color: white; font-size: 120%; font-weight:bold; margin-right:30px;">Hyzmat_Goş</a>
        </li>
</div>
       </ul>       
        
{% if request.user.is_authenticated %}
<div class="Profbtn">
  <ul class="navbar-nav mb-2 mb-lg-0 prof" >
          
           <li class="nav-item mt-2 ">
            
            {% if request.user.profile.avatar %}
            
             <img  src="/media/{{request.user.profile.avatar}}" alt="Avatar" class="avatar" style="margin-top: -10px;">
               
            {% endif %}
             
           </li>
          <li class="nav-item  text text-light mt-2 ml-2">
            {{user.username}}
          </li>
        </ul>
  <div class="profmenu">
    <a href="{% url 'cikis' %}">Ulgamdan Çyk</a>
    <a href="#" class="edtitProf">Profilini Düzelt</a>
    
  </div>
</div> 

         
        
           
      {%else%}
      <ul class="navbar-nav me-auto  mb-2 mb-lg-0">
            <li class="nav-item ">
              <a class="nav-link active " aria-current="page" href="{% url 'giris' %}" style="color: white; font-size: 120%;margin-right:30px; font-weight:bold; ">Gir</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link active " aria-current="page" href="{% url 'register' %}" style="color: white; font-size: 120%; margin-right:30px;float: right ; font-weight:bold;  ">Hasap_Aç</a>
            </li>
      </ul>
      

         
      {% endif %}
      
    </div>
</nav>

{% comment %} Düzenle sayfasi {% endcomment %}
<div id="id01" class="modal">
  
  <form class="modal-content animate"  method="post">
    {% csrf_token %}
    {{ form.media }}
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="/media/{{request.user.profile.avatar}}" alt="Avatar" class="avatarProfil">
    </div>

    <div class="container">
      <label for="fname"><b>Ad</b></label>
      <input type="text" placeholder="Merdan" name="fname" required>

      <label for="psw"><b> Familya</b></label>
      <input type="text" placeholder="Babayev" name="lname" required>

      <label for="uname"><b> Hesap Ady</b></label>
      <input type="text" placeholder="MerdanB" name="uname" required>

      <label for="psw"><b> Parol</b></label>
      <input type="password" placeholder="Parol" name="psw" required>

      <label for="psw_confirim"><b> Parol Gaytala</b></label>
      <input type="password" placeholder="Parol" name="psw_confirim" required><br>
    
      <label for="filename"><b>Profil suratyny yükle</b></label>
      <input type="file" id="myimage" name="filename">
        
      <button type="submit">Düzelt</button>
      
    </div>
  </form>
</div>


{% comment %} Kayıt ol sayfası {% endcomment %}

<div  class="modal" id="id02">
  

<form class="modal-content animate" enctype="multipart/form-data" id="post-form">
    {% csrf_token %}
    {{ form.media }}
    <div class="imgbox">
      
      <img src="{% static 'resim/user.png' %}" alt="Avatar" class="avatarProfil">
      <h5></h5>
    </div>
        
    <label for="myFile"><b class="profiltext" >Profil suratyny yükle</b></label>
    <input type="file" id="myFile" name="myFile">

    <label for="fname"><b>Ad</b></label>
    <input type="text" placeholder="Merdan" id="fname" name="fname" required>

    <label for="lname"><b> Familya</b></label>
    <input type="text" placeholder="Babayev" id="lname" name="lname" required>

    <label for="uname"><b> Hesap Ady</b></label>
    <input type="text" placeholder="MerdanB" id="uname" name="uname" required>

    <label for="psw"><b> Parol</b></label>
    <input type="password" placeholder="Parol" id="psw" name="psw" required>

    <label for="psw_confirim"><b> Parol Gaytala</b></label>
    <input type="password" placeholder="Parol" id="psw_confirim" name="psw_confirim" required><br>
    
    <button type="submit">Hesap Aç</button>
    </form>
  </div>


<script>
  function myFunction(x) {
    x.classList.toggle("change");
  }
  
  </script>
  <script src="{% static 'js/navbar.js' %}"></script>
  <script src="{% static 'js/jquery-3.6.3.min.js'%}"></script>