{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-expand-lg navbar-dark sticky-top " style="background-color: #23b6ed;">
  <a class="navbar-brand"style="margin-left:5%;" href="{% url 'index' %}"> <img class="resim" src="{% static 'resim/Resim3.png' %}" alt="logo"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="cont" onclick="myFunction(this)">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
            </div>

          </button>

  <div class="container-fluid">
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}" style="color: white; font-size: 120%;margin-right:auto;">Baş_Sahypa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'hizmet:hizmetler' %}" style="color: white; font-size: 120%;margin-right:auto;">Hyzmatlar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'about' %}" style="color: white; font-size: 120%;margin-right:auto;">Biz_Barada</a>
        </li>
         
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'hizmet:hizmet_ekle' %}" style="color: white; font-size: 120%;">Hyzmat_Goş</a>
        </li>
        

      </ul>
    </div>
  </div>
      
        {% if request.user.is_authenticated %}
         <ul class="navbar-nav me-auto ml-2 mb-2 mb-lg-0">
           <li class="nav-item mt-2">
            
            {% if request.user.profile.avatar %}
            
             <img  src="/media/{{request.user.profile.avatar}}" alt="Avatar" class="avatar">
               
            {% endif %}
             
           </li>
          <li class="nav-item mr-3 ">
            <a class="nav-link active " aria-current="page" href="{% url 'cikis' %}" style="color: white; font-size: 120%;">Ulgamdan_Çık</a>
          </li>
        </ul>
        
           
      {%else%}
      <ul class="navbar-nav me-auto  mb-2 mb-lg-0">
            <li class="nav-item ">
              <a class="nav-link active " aria-current="page" href="{% url 'giris' %}" style="color: white; font-size: 120%;">Gir</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link active " aria-current="page" href="{% url 'yazil' %}" style="color: white; font-size: 120%; float: right: ; ">Hasap_Aç</a>
            </li>
      </ul>
      

         
      {% endif %}
      
      
      
   
</nav>
<div id="text" class="not-visible">
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
</div>

<script>
  function myFunction(x) {
    x.classList.toggle("change");
  }
  
  </script>